/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Jul-2017, 21:58:35
    Author     : brian
*/

@media screen and (min-width: 1000px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
    html 
    {
        height: 100%;
    }

    body 
    {
        position: relative;
        padding-top: 3%;
        padding-bottom: 2%;
        margin: 0 auto;
    }

    #section1 
    {
        padding-top:2%;
        height:20%;
        padding-bottom: 3%;
        box-shadow: 0 0 5px black;
    }

    #section2 
    {
        padding-top:2%;
        height:40%;
        padding-bottom: 3%;
        box-shadow: 0 0 5px black;
    }

    #section3 
    {
        padding-bottom: 3%;
        padding-top:2%;
        height:40%;
        box-shadow: 0 0 5px black;
    }
    
    #section4 
    {
        padding-bottom: 3%;
        padding-top:2%;
        height:40%;
        box-shadow: 0 0 5px black;
    }
    
    #footer
    {
        background-color: black;
        color: white;
        text-align: center;
        margin: 0 auto;
        width:80%;
    }
    
    #footerdiv
    {
        float:left;
    }
    
    
    #contactDiv
    {
        width:100%;
        padding-top: 10%;
        text-align: center;
    }

    #section_title1
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
    }

    #section_title2
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
    }

    #section_title3
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
    }
    
    #section_title4
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
    }
    
    
    #section_title5
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
    }
    

    .img-circle
    {
        border: 5px solid #000;
        margin: 0 auto;
        display: block;
        width:20%;
        height:20%;
    }

    #devHeader1
    {
      border-radius: 25px 25px 0px 0px;
      vertical-align: middle; 
      background-color: black; 
      width: 28%;
      margin: 0 auto;
      color:lightgray;
      line-height: 120%;
      padding-top:1%
    }

    #devHeader2
    {
      vertical-align: middle; 
      background-color: black; 
      width: 28%;
      margin: 0 auto;
      color:lightgray;
      line-height: 120%;
    }

    #devP
    {
      border-radius: 0px 0px 25px 25px;
      vertical-align: middle; 
      background-color: black; 
      width: 28%;
      margin: 0 auto;
      color:lightgray;
      line-height: 140%;
      padding-bottom:1%;
      padding-left: 1%;
      padding-right:1%;
    }

     .parallax 
     {
        /* The image used */
        background-image: url("img/coding_image.jpg");

        /* Set a specific height */
        /*min-height: 550px;*/ 
        height:100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;    
        padding-top:4%;
        padding-bottom: 6%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
    }

    li {
        float: right;
        border-right: 1px solid #bbb;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
        color: white;
    }

    .active {
        background-color: #111;
    }

    #container
    {
        text-align: center;
        width:80%;
        display: block;
        margin: auto;
        margin-bottom:1%;
        margin-top:2%;
        background-color: rgb(247, 247, 247);
    }

    .panel
    {
        margin-top:2%;  
    }

    #copyright
    {
        text-align: left;
        margin-left:1%;
        padding-bottom: 0.5%;
    }

    .pic_left
    {
        margin-left:-5%;
        padding-top:2%;
        padding-bottom: 4%;
    }

    .pic_right
    {
        padding-top:5%;
        padding-bottom: 2%;
        margin-left: 3%;
    }

    .icon
    {
        margin-right: 5%;
        width: 30%; 
        height:30%;
        margin-top:4%;
    }
       
    .icontext
    {
        text-align: center;
        font-size: 120%;
    }
    
    #html_icon
    {
        margin-top: 18%;
    }
    
    #chat_app_image
    {
      width: 90%;
      height:90%;
      padding-top:2%;
      padding-bottom:4%;
    }
    
    #phonestore_image
    {
        margin-left:2%;
        width: 103%;
        height: 103%;
        margin-top:7%;

    }
    
    .tooslDiv
    {
        display: inline-block;
        width: 25%;
    }
    
    #fly_safe_image
    {
        width:60%;
        height:60%;
    }
    
    #news_feed_image
    {
        width:60%;
        height:60%;
    }
      
    #scrum_image
    {
        width:95%;
        height:95%;
        margin-top:10%;
    }
    
    #agile_image
    {
        width:60%;
        height:60%;
    }
}











@media screen and (max-width: 1000px) { /*The following CSS runs only for displays with a width (in pixels) of less than 1000px*/
    
    .parallax 
     {
        /* The image used */
        background-image: url("img/coding_image.jpg");

        /* Set a specific height */
        min-height: 200px; 
        height:100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;    
        padding-top:4%;
        padding-bottom: 6%;
    }
    
    .img-circle
    {
        border: 5px solid #000;
        margin: 0 auto;
        display: block;
        width:20%;
        height:20%;
        margin-top: 15%;
    }
    
    #devHeader1
    {
      border-radius: 25px 25px 0px 0px;
      vertical-align: middle; 
      background-color: black; 
      width: 28%;
      margin: 0 auto;
      color:lightgray;
      line-height: 120%;
      padding-top:1%;
      padding-left: 1%;
      padding-right:1%;
    }

    #devHeader2
    {
      vertical-align: middle; 
      background-color: black; 
      width: 28%;
      margin: 0 auto;
      color:lightgray;
      line-height: 120%;
      padding-left: 1%;
      padding-right:1%;
    }

    #devP
    {
      border-radius: 0px 0px 25px 25px;
      vertical-align: middle; 
      background-color: black; 
      width: 28%;
      margin: 0 auto;
      color:lightgray;
      line-height: 140%;
      padding-bottom:1%;
      padding-left: 1%;
      padding-right:1%;
    }
    
    #container
    {
        text-align: center;
        width:90%;
        display: block;
        margin: auto;
        margin-bottom:1%;
        margin-top:2%;
        background-color: rgb(247, 247, 247);
    }
    
    #section1 
    {
        padding-top:2%;
        height:20%;
        box-shadow: 0 0 5px black;
    }

    #section2 
    {
        padding-top:8%;
        height:20%;
        box-shadow: 0 0 5px black;
    }

    #section3 
    {
        padding-top:2%;
        height:20%;
        box-shadow: 0 0 5px black;
    }
    
    #section4
    {
        padding-top:2%;
        height:20%;
        box-shadow: 0 0 5px black;
    }
    
    #footer
    {
        background-color: black;
        color: white;
        text-align: center;
        margin: 0 auto;
        width:90%;
        height:20%;
    }
    
    #section_title1
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
        margin-bottom: 4%;
    }

    #section_title2
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
    }

    #section_title3
    {
        display:block;
        border-bottom:double 3px #DAA520;
        width:55%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:25%;
        margin-bottom: 4%;
        
    }
    
    #section_title4
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
        margin-bottom: 4%;
    }
    
    #section_title5
    {
        display:block;
        border-bottom:double 3px #DAA520;
        float:left;
        width:25%;
        padding-bottom:1%;
        padding-top: 1%;
        text-align: center;
        margin-left:38%;
        margin-bottom: 4%;
    }
    
    #app_title
    {
        margin-top: 6%;
    }
    
    #app_title1
    {
        margin-top: 10%;
    }
    
    #app_title2
    {
        margin: 0 0 0 0;
        margin-top: 10%;
    }
    
    #contactDiv
    {
        width:100%;
        padding-top: 12%;
        text-align: center;
    }


     ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        float: right;
    }

    li {
        float: left;
        border-right: 1px solid #bbb;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 1% 2%;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
        color: white;
    }

    .active {
        background-color: #111;
    }
    
    .panel
    {
        margin-top:2%;   
    }

    #copyright
    {
        text-align: left;
        margin-left:1%;
        padding-bottom: 0.5%;
    }

    .pic_left
    {
        margin-left:-5%;
        padding-top:2%;
        padding-bottom: 4%;
    }

    .pic_right
    {
        padding-top:5%;
        padding-bottom: 2%;
        margin-left: 3%;
    }

    .icon
    {
        margin-right: 5%;
        width: 30%; 
        height:30%;
        margin-top:2%;
    }
    
    #html_icon
    {
        margin-top: 18%;
    }
    
    .icontext
    {
        text-align: center;
        font-size: 100%;
    }
    
    #chat_app_image
    {
      width: 90%;
      height:90%;
      padding-top:2%;
      padding-bottom:4%;
    }
    
    #phonestore_image
    {
        margin-left:5%;
        width: 90%;
        height: 90%;
    }
    
    .tooslDiv
    {
        display: inline-block;
        width: 25%;
    }
    
    #skills_and_tools
    {
        float: left;
    }
    
    #flySafeDiv
    {
        float:left;
    }
    
    #fly_safe_image
    {
        width:45%;
        height:45%;
    }
    
    #newsFeedDiv
    {
        float:left;
    }
    
    #news_feed_image
    {
        width:45%;
        height:45%;
    }
    
    #agileDiv
    {
        margin: 0 auto;  
        text-align: center;
    }
    
    #agile_image
    {
        width:45%;
        height:45%;
    }
    
    #slack_image
    {
        width: 100%;
        height: 100%;
    }
    
    #slackDiv
    {
        margin: 0 auto;  
        text-align: center;
    }
    
    #scrumDiv
    {
        margin: 0 auto;
    }
    
    #scrum_image
    {
        width:80%;
        height:80%;
    }
    
    #phoneDiv
    {
        float:left;
    }
    
    #chatDiv
    {
        float:left;
    }
    
   
    
    
    
    
}
